<!DOCTYPE html>
<html>
<head>
  <title>Some Website</title>
</head>
<body>
  {{> header }}
  <ul>
    <li>Vr Storytelling</li>
    <li>Short movie</li>
    <li>Poetry book</li>
    <li>Music album</li>
  </ul>
  {{> footer }}
</body>
</html>